table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
    background-color: #5cb85c;
    color: black;
}

/* Style for inputs */
input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.estateList {
    width: 60%;
    float: left;
    height: 300px;
}

.imageCarousel {
    width: 38%;
    height: 40%;
    float: left;
    margin-left:1%; 
    padding:2px;
    color: white;
}

@media screen and (max-width: 800px){
    .estateList{
        width: 100%;
    }
    
    .imageCarousel {
      width: 95%;
      display:block;
    }
}


.autoSizedInput {
    width: auto!important;
}

.bsButton{
  margin-left: 3px!important;
  margin-bottom: 1px!important;
}

.bsButtonMarginBottom{
  margin-bottom: 1px!important;
}

.bsButtonMarginTop{
  margin-top: 15px;
}

/* Validation error text */
.error{
    color: red;
    padding: 0.1em;
}

.estateImage {
  height: auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
}

.filterContainer {
  margin-top: 2px;
}