/* Global styles */ 
body{background: #fff; font-size: 14px; line-height: 24px;}
h1, h2, h3, h4, h5, h6{margin: 0;}
p{padding-bottom: 25px; margin: 0;}


input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.imageCarousel {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.autoSizedInput {
    width: auto!important;
}

.bsButton{
  margin-left: 3px!important;
  margin-bottom: 1px!important;
}

.bsButtonMarginBottom{
  margin-bottom: 1px!important;
}

.bsButtonMarginTop{
  margin-top: 15px;
}

.error{
    color: red;
    padding: 0.1em;
}

.filterContainer {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Main Estates List Styles */
.featured-block{padding:55px 0; overflow: hidden;}
@media screen and (max-width: 800px){
  .thumbnail{box-shadow: 0 3px 3px 1px #e0e0e0; margin-bottom: 15px;}
}
.thumbnail{height: 400px; box-shadow: 0 3px 3px 1px #e0e0e0; margin-bottom: 15px;}
.caption{padding: 25px 15px;}
.caption h1{font-size: 18px; line-height: 24px;color: #34b091; text-transform: uppercase;font-family: 'source_sans_probold';  padding-bottom: 10px; letter-spacing: 1px;}
